NODE_ENV=development
PORT=3000

DATABASE_URL="<YOUR_PRISMA_POSTGRES_CONNECTION_STRING>"

JWT_ACCESS_SECRET="<RANDOMHEX64BYTE>"
JWT_REFRESH_SECRET="<RANDOMHEX64BYTE>"

SEED_DEFAULT_PASSWORD="<YOUR_RANDOM_PASSWORD>"

MASTER_ENCRYPTION_KEY="<RANDOMHEX32BYTE>"