# Dependencies
node_modules/

# Build output
dist/

# Test coverage
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Nest / TypeScript
*.tsbuildinfo
/src/generated/prisma
.agents
.claude
.windsurf